{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
       org.clj-commons/pretty {:local/root "../pretty"}
        #_ {:mvn/version "3.0.0"}}

 :aliases
 {;; clj -T:build <command>
  :build
  {:deps {io.github.hlship/build-tools
          {:git/tag "0.10.2" :git/sha "3c446e4"}}
   :ns-default build}}

 :net.lewisship.build/scm
 {:url "https://github.com/clj-commons/pretty-aviso-bridge"
  :license :asl}

 :codox/config
 {:description "Bridge io.aviso/pretty APIs to org.clj-commons/pretty"
  :source-uri "https://github.com/clj-commons/pretty/blob/master/{filepath}#L{line}"}}
